.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  /* background: #f6f6f6;*/
  background: url("images/cool-background\ \(1\).png");
  margin-top: 60px;
}

footer {
  text-align: center;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 600;
}

footer a {
  text-decoration: none;
}

@media (max-width: 576px) {
  footer {
    font-size: 9px;
  }
}
